/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #7b939f #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7b939f;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #617A85;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #4B5F68;
  }
  